input-number {
  .input-number-block{
     position: relative;
    width: 107px;
    .minus{
      text-align: center;
      background: #00B9D6;
      border-radius: 60px 0px 0px 60px;
      height: 32px;
      width: 34px;
      position: absolute;
      left: 0;
      top:0;
      display: inline-block;
      cursor: pointer;

      ion-icon:before{
        font-size: 3px;
        color: white;
        margin-top: 13px;
      }
    }

    .plus{
      background: #00B9D6;
      border-radius: 60px 0px 0px 60px;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      height: 32px;
      width: 34px;
      position: absolute;
      right: 0;
      display: inline-block;
      top:0;
      text-align: center;
      ion-icon:before{
        font-size: 15px;
        transform: rotate(134deg);
        color: white;
        margin-top: 8px;
      }
      cursor: pointer;
    }

    .amount-input{
      font-family: avantiBold;
      appearance: none;
      font-size: 18px;
      text-align: center;
      padding: 0 46px 0 46px;
      width: 100%;
      height: 32px;
      border-color: transparent;
      background: transparent;

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button
      {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}
