<!--
  Generated template for the PricesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ціни</ion-title>
    <burger-menu></burger-menu>
  </ion-navbar>

</ion-header>


<ion-content  style="position: relative">
  <chysto-segment [form]="myForm" [cities]="cities"></chysto-segment>
  <div class="input-div ">
    <ion-icon name="icon-magnifier"></ion-icon>
    <input #inputValue (keyup)="search()" placeholder="Пошук" type="text">
  </div>
  <ion-grid no-padding="">
    <ion-row style="position:relative;">
    <ion-row *ngIf="view === 'cat'" >

      <ion-row class="price-block">
        <ion-col col-12>
          <p class="or-category">Або виберіть категорію</p>
        </ion-col>
    <ion-row >
      <ion-col  *ngFor="let item of sortedServices" col-6     (click)="showSubCat(item.id, inputValue)">
        <ion-col col-4>
          <ion-icon color="primary" [name]="item.icon"></ion-icon>
        </ion-col>
        <ion-col col-8>
          {{item.name}}
        </ion-col>
      </ion-col>
    </ion-row>
    </ion-row>
    </ion-row>


    <ion-row *ngIf="view === 'subcat'" class="price-block">
      <ion-col col-12>
        <p class="or-category" ><ion-icon (click)="showCat()" color="primary" [name]="subCat.icon"></ion-icon><span >{{subCat.name}}</span></p>
      </ion-col>
      <ion-col no-padding *ngFor="let item of sortedServiceList" style="margin-bottom: 17px;">
          <ion-col col-6 col-sm-6 no-padding style="justify-content: end">
            <span>{{item.name}}</span>
          </ion-col>
          <ion-col col-2 col-sm-1 class="blue-bold">шт. {{item.price}}</ion-col>
          <ion-col col-4 col-sm-5>
            <input-number (ChangeValue)="ChangeValue($event, item)" [initValue]="0"></input-number>
          </ion-col>
        </ion-col>
      <ion-col col-12><p class="overall-amount">Сума замовлення: <span class="actual-price">{{overallPrice}} гр</span></p></ion-col>
      <ion-col><button ion-button (click)="goToOrder()">Замовити </button></ion-col>
    </ion-row>

      <ion-row>

      </ion-row>
    </ion-row>


  </ion-grid>

</ion-content>
