page-ordered-item {

  .ordered-wrapper{
    background: white;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-family: avanti;
    margin-bottom: 10px;
  }
.buttons-wrapper{
  padding-top: 12px;
  border-top: 1px solid #E0E0E0;
  .button{
    background: #00B9D6;
    border: 2px solid #00B9D6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 80px;
    color: white;
    height: 2.6em !important;
    margin-bottom: 20px;
    width: 100%;
  }
}

}
