<!--
  Generated template for the DepartmentMapsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>department-maps</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <form [formGroup]="myForm">
    <ion-segment formControlName="mapStyle" color="danger">
      <ion-segment-button *ngFor="let city of cities" [value]="city.id">
        {{city.city}}
      </ion-segment-button>
    </ion-segment>
  </form>
  <div >
    <ion-segment [(ngModel)]="cityModel">

    </ion-segment>
  </div>


    <ion-grid class="single-department" *ngFor="let dep of departments">
      <ion-row>
        <ion-col col-10 col-sm-10 col-md-10 class="dep-col-left">
          <p><ion-icon  name="icon-placeholder-filled-point"></ion-icon>{{dep.dpNumber}}</p>
          <p>{{dep.address}}</p>
          <p>{{dep.hint}}</p>
          <p><span>Графік роботи: </span><span>{{dep.shedule}}</span></p>
          <p><span>Телефон: </span><span>{{dep.tel}}</span></p>
        </ion-col>
        <ion-col col-2 col-sm-2 col-md-2 class="dep-col-right">
          <button>
            <ion-icon name="icon-telephone"></ion-icon>
          </button>
          <button>
            <ion-icon name="icon-gps"></ion-icon>
          </button>
          <button>
            <ion-icon name="icon-info"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
