<ion-row>
  <ion-col col-10 col-sm-10 col-md-10 class="dep-col-left">
    <p><ion-icon  name="icon-placeholder-filled-point"></ion-icon>{{dep.dpNumber}}</p>
    <p>{{dep.address}}</p>
    <p>{{dep.hint}}</p>
    <p><span>Графік роботи: </span><span>{{dep.shedule}}</span></p>
    <p><span>Телефон: </span><span>{{dep.tel}}</span></p>
  </ion-col>
  <ion-col col-2 col-sm-2 col-md-2 class="dep-col-right">
    <button>
      <ion-icon name="icon-telephone"></ion-icon>
    </button>
    <button>
      <ion-icon name="icon-gps"></ion-icon>
    </button>
    <button *ngIf="hideButton">
      <ion-icon name="icon-info"></ion-icon>
    </button>
  </ion-col>
</ion-row>