
    <form [formGroup]="myForm" (ngSubmit)="submit()">
      <h4>Form</h4>
      <hr>
      <item-array
              formArrayName="services"
              [itemsFormArray]="myForm.get('services')">
      </item-array>
      <hr>
      <div class="form-group">
        <input type="submit" class="form-control" value="Submit" [disabled]="myForm?.invalid">
      </div>
    </form>

    <h6 class="mt-3">FormGroup Model (<code>myForm.value</code>)</h6>
    <div><pre><code>{{ myForm?.value | json }}</code></pre></div>
