<form [formGroup]="myForm" (ngSubmit)="submit()">
        <h3>Виберіть послугу зі списку</h3>
      <item-array [services]="services"
              formArrayName="services"
              [itemsFormArray]="myForm.get('services')">
      </item-array>
        <p class="overall-amount">Сума замовлення: <span class="actual-price">{{overallSum}} гр</span></p>
        <div class="textarea-block">
            <p>Адреса доставки</p>
            <ion-grid no-padding="">
                <ion-row>
                    <ion-col col-12>
                        <textarea formControlName="address" padding class="order-textarea" rows="10"></textarea>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="form-group">
            <button ion-button type="submit" block (click)="submit()"   [disabled]="myForm?.invalid">Замовити</button>
    </div>
        <div><pre><code>{{ myForm?.value | json }}</code></pre></div>
    </form>

