// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


@font-face {
  font-family: avanti;
  src: url('../assets/Font/Avanti.ttf');
}

@font-face {
  font-family: avantiBold;
  src: url('../assets/Font/Avanti_Bold.ttf');
}
@font-face {
  font-family: avantiItalic;
  src: url('../assets/Font/Avanti_Italic.ttf');
}



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:   #00B9D6,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

@font-face {
  font-family: 'icomoon';
  src:  url('../assets/Font/icon-fonts/icomoon.eot?xnewr2');
  src:  url('../assets/Font/icon-fonts/icomoon.eot?xnewr2#iefix') format('embedded-opentype'),
  url('../assets/Font/icon-fonts/icomoon.ttf?xnewr2') format('truetype'),
  url('../assets/Font/icon-fonts/icomoon.woff?xnewr2') format('woff'),
  url('../assets/Font/icon-fonts/icomoon.svg?xnewr2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"],
[class^="ion-ios-icon"],
[class*="ion-ios-icon"],
[class^="ion-md-icon"],
[class*="ion-md-icon"]{
  //@extend .ion;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@mixin makeIcon($arg, $val) {
  .ion-ios-#{$arg}:before ,
  .ion-ios-#{$arg}-circle:before ,
  .ion-ios-#{$arg}-circle-outline:before ,
  .ion-ios-#{$arg}-outline:before ,
  .ion-md-#{$arg}:before ,
  .ion-md-#{$arg}-circle:before ,
  .ion-md-#{$arg}-circle-outline:before ,
  .ion-md-#{$arg}-outline:before  {
    content: $val;
    font-size: 26px;
  }
}

@include makeIcon(icon-eco, '\e912');
@include makeIcon(icon-iron, '\e911');
@include makeIcon(icon-shirt, '\e915');
@include makeIcon(icon-water, '\e913');
@include makeIcon(icon-paint, '\e914');
@include makeIcon(icon-sales, '\e91d');
@include makeIcon(icon-line-menu, '\e918');
@include makeIcon(icon-logistics-delivery-truck-in-movement, '\e90a');
@include makeIcon(icon-tag, '\e909');
@include makeIcon(icon-placeholder-filled-point, '\e904');
@include makeIcon(icon-new-home, '\e911');
// Fonts
// --------------------------------------------------



@import "roboto";
@import "noto-sans";































