


  .social-login{
    justify-content: space-between;
    display: flex;
    padding: 0 1em;
    & > span{

      &:nth-of-type(2) {
        align-items: center;
        display: flex;
        position: relative;
        font-family: avanti;
        font-size: 17px;
        > span> span{
          position: absolute;
          display: block;

          width: 10px;
          height: 10px;
          top: 43%;

          &:nth-of-type(1){
            left: -17px;
          }

          &:nth-of-type(2){
            right: -37px;
          }

          &:after, &:before{
            content: '';
            display: block;
            width: 7px;
            height: 7px;
            position: absolute;
            background:#00B9D6;
            border-radius: 50%;
          }
          &:after{
            left: 0;
          }

          &:before{
            right:16px;
          }
        }
      }

    }
    img{
      max-width: 69px;
      cursor: pointer;
    }
  }


