item-array {

  .add-service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: avanti;
    color: #BDBDBD;
    border: 2px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 80px;
    height: 41px;
    position: relative;
    padding-left: 19px;
    margin-bottom: 24px;
    & > button{
      -webkit-transition: none;
      transition: none;
      position: absolute;
      width: 51px;
      height: 51px;
      background: #00B9D6;
      -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      float: right;
      right: -8px;
      ion-icon:before{
        font-size: 15px;
        transform: rotate(134deg);
        color: white;
      }


    }
  }
}
