
<section [ngClass]="ifOpen()? 'select-overlay':''">
</section>
  <div    class="multilevel-select">
    <input outside-click type="text" placeholder="Пошук" (click)="openSelect()" >
    <section class="select-choice" [hidden]="!ifOpen()" >





        <select-categories *ngIf="!selectedCat" (CatSelect)="CatSelect($event)" [categories]="services"></select-categories>

       <select-subcategories (ItemChose)="ItemChose($event)" (goBack)="back()" *ngIf="selectedCat" [service]="selectedCat?  getServiceByid(selectedCat): null"></select-subcategories>


    </section>
  </div>


