page-ordered {


  .ordered-wrapper{
    background: white;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-family: avanti;
    margin-bottom: 10px;
  }
}
